doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/public/css/bootstrap.css", rel='stylesheet')
    link(href='/public/css/custom2.css', rel='stylesheet')
    link(href='/public/css/bootstrap-theme.css', rel='stylesheet')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
  body
    block content
