extends layout
  
block content
  doctype html
  html(lang='en')
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      style.
        img.enter{
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
        border: 3px solid #362929;
        border-radius: 50px;
        background-color: #6E6E6E;
        }
        header{
        background-color: #ff8e00;
        font-family: "맑은 고딕";
        }
        h3{
        font-family: "맑은 고딕";
        font-size: 3rem;
        font-weight: bold;
        color : white;
        }
        body{
        background-color: #662259;
        }
        .ask{
        color: #E6E6E6;
        }
        .search-option{
        margin-top: 2px;
        }
        .clearbox{
        height: 300px;
        padding: 10px;
        border: 1px none #ccc;
        border-radius: 5px;
        margin-bottom: 100px;
        }
        .clearbox2{
        height: 300px;
        padding: 10px;
        border: 1px none #ccc;
        border-radius: 5px;
        }
      // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      // WARNING: Respond.js doesn't work if you view the page via file://
      //if lt IE 9
        script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
        script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    body
      // 상단 바
      header
        .container-fluid
          .col-lg-3.col-lg-push-6.col-xs-offset-2.col-xs-6
            .col-lg-10.col-xs-12
              h4.ask 전적 검색을 원하시나요?
          // 상단 전적 검색 버튼
          .col-lg-4.col-lg-push-4.col-xs-4
            .col-lg-4.col-lg-push-3.col-xs-4
              .form-search
                // 상단 전적 검색버튼 설정
                .search-option
                  button.btn.btn-danger(type='button') 전적 검색
      .container
        .col-xs-12
          section.clearbox2
      .container
        // 보이스 입장 링크
        .font-setting
          .col-xs-6.col-xs-push-2.col-lg-6
            .col-xs-6.col-xs-push-7.col-lg-6.col-lg-push-6
              h3  #{_nickname} 
        .col-ld-4.col-ld-offset-4.col-xs-4.col-xs-offset-4
          a(href='/audio')
            img.enter(src='/public/img/voice enter.png')
      footer
        .container
          .col-md-12
            section.clearbox
      // jQuery (necessary for Bootstrap's JavaScript plugins)
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
